{% extends 'base.html.twig' %}
{% block body %}
    <h1>Symfony Instance </h1>
    <div class="pub-container">
        <div>
            Send broadcast message to NATS:
            <form method="post">
                <input type="text" id="msg">
                <button type="submit">Отправить</button>
            </form>
        </div>
        <div>
            <ul id="msgLog"></ul>
        </div>
    </div>

{% endblock %}