{% extends 'base.html.twig' %}
{% block body %}
    <h1>Symfony Instance - Waiting broadcast message from NATS</h1>
    <div class="sub-container">
        <div>
            <ul id="msgLog"></ul>
        </div>
    </div>

{% endblock %}